<% include includes/header.ejs %>
  <title>Dashier - Profile</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 profile-column">
          <h1 class="profile-username"><a href="/">@<%= givenUser.username %></a></h1>
          <div class="relation-button">
            <% if(relationship == 'friend'){%>
              <button type="button" name="unfriend-button" class="btn btn-dark unfriend-button">Unfriend</button>
              <%}else if(relationship == 'following'){%>
                <button type="button" name="unfollow-button" class="btn btn-secondary unfollow-button">Unfollow</button>
                <%}else if(relationship == 'self'){%>
                  <%}else{%>
                    <button type="button" name="follow-button" class="btn btn-primary follow_button">Follow</button>
                    <%}%>
          </div>
          <div class="container post-container profile-posts">
            <ul class="list-group post-group">
              <% for(var i = postList.length-1; i >= 0; i--){ %>
                <li class="list-group-item">
                  <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                      <a href="
                      /user/<%= postList[i].sender %>">
                        <%= postList[i].sender %>
                      </a> paid
                      <a href="/user/<%= postList[i].recipient %>">
                        <%= postList[i].recipient %>
                      </a>
                    </div>
                    <div class="card-body" data-postid="<%= postList[i].id %>">
                      <% if (postList[i].likes.includes(localUser.username)) { %>
                        <button type="button" class="react_button unlike-button"><i class="fas fa-heart fa-4x"></i></button>
                        <% } else {%>
                          <button type="button" class="react_button like-button"><i class="far fa-heart fa-4x"></i></button>
                          <% } %>
                            <h5 class="card-title"><%= postList[i].amount %> Dash</h5>
                            <p class="card-text">
                              <%= postList[i].message %>
                            </p>
                    </div>
                </li>
                <% } %>
            </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3">

        </div>
      </div>
    </div>
    <script>
      $(function() {
        $('.profile-column').on('click', '.follow_button', function() {
          this_button = this;
          $.ajax({
            method: 'POST',
            url: '/user/<%= givenUser.id %>/follow'
          }).done(function(friends_now) {
            if (friends_now) {
              $(this_button).replaceWith('<button type="button" name="unfriend-button" class="btn btn-dark unfriend-button">Unfriend</button>');
            } else {
              $(this_button).replaceWith('<button type="button" name="unfollow-button" class="btn btn-secondary unfollow-button">Unfollow</button>');
            }
          });
        });
        $('.profile-column').on('click', '.unfollow-button', function() {
          this_button = this;
          $.ajax({
            method: 'POST',
            url: '/user/<%= givenUser.id %>/unfollow'
          }).done(function(err) {
            if (err) {
              console.error('user unfollow has failed');
            } else {
              $(this_button).replaceWith('<button type="button" name="follow-button" class="btn btn-primary follow_button">Follow</button>');
            }
          });
        });
        $('.profile-column').on('click', '.unfriend-button', function() {
          this_button = this;
          $.ajax({
            method: 'POST',
            url: '/user/<%= givenUser.id %>/unfriend'
          }).done(function(err) {
            if (err) {
              console.error('user unfriend has failed');
            } else {
              $(this_button).replaceWith('<button type="button" name="follow-button" class="btn btn-primary follow_button">Follow</button>');
            }
          });
        });

        //like post
        $('.post-group').on('click', '.like-button', function() {
          this_button = this;
          $.ajax({
            method: 'POST',
            url: `/post/like/${$(this).parent().data().postid}`
          }).then(function() {
            $(this_button).replaceWith('<button type="button" class="react_button unlike-button"><i class="fas fa-heart fa-4x"></i></button>');
          }).catch(function(err) {
            console.error(err);
          });
        });
        //unlike post
        $('.post-group').on('click ', '.unlike-button ', function() {
          this_button = this;
          $.ajax({
            method: 'POST',
            url: `/post/unlike/${$(this).parent().data().postid}`
          }).then(function() {
            $(this_button).replaceWith('<button type="button" class="react_button like-button"><i class="far fa-heart fa-4x"></i></button>');
          }).catch(function(err) {
            console.error(err);
          });

        });
      });
    </script>
  </body>

  </html>